extends ./layout.jade

block content
  .row
    .col-xs-12.text-center
      h2 考级信息登记
    .col-xs-12
      form(method="post")
        .form-group
          label(for="username") 姓名
          input.form-control#username(name="username", placeholder="报考人姓名")
        .form-group
          label(for="cid") 身份证号
          input.form-control#cid(name="cid", placeholder="报考人的身份证号码")
        if bad_credential
          p.text-danger 姓名与身份证号不符
        button.btn.btn-primary(type="submit") 登录
